.intro {
    display: grid;
    grid-template-columns: 100%;
    gap: 8.3rem;

    &__illustration {
        width: 50.2rem;
        transform: translate(-22px, -4px);
    }

    &__subtitle {
        display: flex;
        column-gap: 1.6rem;
        align-items: center;
        margin-bottom: 1.6rem;
    }
    
    &__title {
        margin-bottom: 1.6rem;
    }
    
    &__text {
        margin-bottom: 2.7rem;
        padding-right: 2rem;
    }

    &__cta {
        display: flex;
        column-gap: 2rem;
        align-items: center;
    }

    &::after {
        content: "";
        width: 18.7rem;
        height: 42.5rem;
        background-color: var(--color-light-grayish-blue);
        border-bottom-left-radius: 6rem;
        position: absolute;
        top: 0;
        right: 0;
        z-index: -1;
    }

    @include media-screen-min($bp-desktop) {
        grid-template-columns: 47rem 1fr;
        gap: 11.4rem;
        align-items: center;
    
        &__illustration {
            width: auto;
            transform: translate(0, 0);
        }

        &__content {
            order: -1;
        }
    
        &__subtitle {
            column-gap: 1.5rem;
        }
        
        &__title {
            margin-bottom: 3.2rem;
        }
        
        &__text {
            margin-bottom: 6.4rem;
            padding-right: 20rem;
        }
    
        &__cta {
            column-gap: 2.4rem;
        }
    
        &::after {
            width: 70.5rem;
            height: 42.7rem;
        }
    }
}