.intro {
    display: grid;
    grid-template-columns: 100%;
    gap: 8.3rem;

    &__illustration {
        width: 50.2rem;
        transform: translate(-22px, -4px);
    }

    &__subtitle {
        display: flex;
        column-gap: 1.6rem;
        align-items: center;
        margin-bottom: 1.6rem;
    }
    
    &__title {
        margin-bottom: 1.6rem;
    }
    
    &__text {
        margin-bottom: 2.7rem;
        padding-right: 2rem;
    }

    &__cta {
        display: flex;
        column-gap: 2rem;
        align-items: center;
    }

    &::before {
        content: "";
        width: 8.8rem;
        box-shadow: 0.8rem 2.4rem 4.4rem 0.8rem hsla(0, 0%, 0%, 0.3);
        position: absolute;
        top: 30.5rem;
        z-index: -1;
    }

    &::after {
        content: "";
        width: 18.7rem;
        height: 42.5rem;
        background-color: var(--color-light-grayish-blue);
        border-bottom-left-radius: 6rem;
        position: absolute;
        top: 0;
        right: 0;
        z-index: -1;
    }
}