.btn {
    &:link,
    &:visited {
        font-family: var(--ff-accent);
        font-weight: var(--fw-bold);
        font-size: 1.4rem;
        line-height: normal;
        letter-spacing: 0.093rem;
        text-transform: uppercase;
        text-decoration: none;
        color: var(--color-white);

        background-color: var(--color-red);
        padding: 1.15rem 2.45rem;
        border-radius: 0.5rem;

        transition: opacity 0.25s ease-out;
    }

    &:hover,
    &:active {
        opacity: 0.5;
    }

    @include media-screen-min($bp-desktop) {
        &:link,
        &:visited {
            font-size: 1.6rem;
            letter-spacing: 0.11rem;
            padding: 1.45rem 3.2rem;
        }
    }
}